.jumbotron {


	background: url(../../img/top.png) no-repeat;
	background-size: cover;

}

.bg {

	margin-top: -35px;
	background-color: #130f40;

}

.atur-nav {

	margin-left: 25%;

}

.atur-nav li {

	margin-left: 30px;
	margin-right: 30px;

}

.atur-nav a {

	font-size: 18px;

}

.title-InputNilai {

	margin-top: 20px;
	background-color: #130f40;
	padding: 20px;

}

.title-InputNilai h1{

	text-align: center;
	color: #fff;
	font-size: 30px;

}

.back {

		background-color: #130f40;

}

.box-Input {

	background-color: rgba(255,255,255,0.8);
	padding: 50px;

}

.line {

	margin-top: -50px;
	padding: 10px;
	background-color: #130f40;

}